/* src/components/organisms/ArticleListContainer/ArticleListContainer.module.css */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  gap: none;
  padding: 0px;
}

.list {
  flex: 1;
  overflow-y: auto;
  border: none;
  min-height: 0;
}