/* src/components/molecules/HeaderLookUp/HeaderLookUp.module.css */
.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 40px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}

.dashboardTitle {
  font-size: 16px;
  font-weight: 400;
  color: #A0AEC0;
  margin: 0;
  min-width: 15%;
}