/* src/components/atoms/Button/Button.module.css */
.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.primary {
  background-color: #007bff;
  color: white;
}

.primary:hover {
  background-color: #909498;
}