/* src/components/atoms/NewButton/NewButton.module.css */
.button {

  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  font-size: 0.9rem;
  letter-spacing: 3px;
}

.primary {
  background-color: #98B6FA;
  color: white;
}

.primary:hover {
  background-color: #909498;
}