/* src/pages/ArticlesPage/ArticlesPage.module.css */
.pageLayout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.contentArea {
  flex: 1;
  background-color: #f9f9f9;
  width: 100%;
  /* Remove margin-left - flexbox handles the spacing automatically */
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0;
}

.error {
  text-align: center;
  color: #ef4444;
  font-size: 1.2rem;
}

.loading {
  text-align: center;
  padding: 2rem;
  color: #666;
  font-size: 1.2rem;
}