/* src/components/organisms/ArticleList/ArticleList.module.css */
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}


.listContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}