/* src/components/organisms/ArticleManagementContainer/ArticleManagementContainer.module.css */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  box-sizing: border-box; 
}

.content {
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0 0 24px 0;
}